/* Global */

.full-tem {
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Dosis', sans-serif;
    color: #555;
}
.full-tem h1,
.full-tem h2,
.full-tem h3,
.full-tem h4,
.full-tem h5,
.full-tem h6 {
    font-family: 'Dosis', sans-serif;
    color: #333;
    line-height: 1.3;
    font-weight: 700;
}
.full-tem h1 {
	font-size: 36px;
}
.full-tem h2 {
	font-size: 30px;
}
.full-tem h3 {
	font-size: 24px;
}
.full-tem h4 {
	font-size: 18px;
}
.full-tem h5 {
	font-size: 16px;
}
.full-tem h6 {
	font-size: 14px;
}
a:hover {
    text-decoration: none;
}
.full-tem {
	overflow-x: hidden;
}
.full-tem img {
	max-width: 100%;
	height: auto;
}

/* Header Area */

.hdr-top {
	padding: 5px 0 0;
}
.hdr-logo a {
	display: inline-block;
}
.single-promo {
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
}
.single-promo i {
	margin-right: 10px;
	color: #D91A23;
}

.hdr-btm {
	background-color: #D91A23;
}
.hdr-nav ul {
	margin: 0;
	padding: 0;
}
.hdr-nav ul li {
	list-style-type: none;
	display: inline-block;
	margin-right: 30px;
}
.hdr-nav ul li:last-child {
	margin-right: 0;
}
.hdr-nav ul li a {
	color: #fff;
	display: block;
	text-transform: uppercase;
	padding: 15px 0;
}

/* Banner Area */
.bnr-area {
	height: 360px;
	background-color: #f5f5f5;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	position: relative;
}
.bnr-area h1 {
	text-transform: uppercase;
	color: #fff;
	position: relative;
	z-index: 1;
}

/* Product Area */

.product-area {
	padding: 35px 0 0;
}

/* Sidebar */

.sidebar-widget {
	margin-bottom: 35px;
}
.sidebar-widget-title {
	background-color: #D91A23;
	color: #fff !important;
	text-transform: uppercase;
	padding: 10px;
	margin: 0 !important;
}
.sidebar-widget-con {
	border: 1px solid #e8e8e8;
	padding: 15px 10px;
}
.sidebar-widget-con ul {
	margin: 0;
	padding: 0;
}
.sidebar-widget-con ul li {
	line-height: 2;
	border-bottom: 1px dotted #e8e8e8;
	list-style-type: none;
	padding: 5px 0;
}
.sidebar-widget-con ul li:last-child {
	border-bottom: 0;
}
.sidebar-widget-con ul li a {
	display: block;
	text-transform: capitalize;
	color: #555;
}
.why-us img {
	margin-top: 15px;
}
.feedback-hdr {
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.feedback-hdr .star {
	margin-bottom: 10px;
	color: #D91A23;
}
.single-fdbk {
	margin-bottom: 15px;
}
.single-fdbk i {
	margin-right: 15px;
	margin-top: 5px;
	color: #D91A23;
}
.feedback-ftr a {
	display: inline-block;
	color: #555;
}

.delivery-info {
	margin-top: 15px;
}
.delivery-info ul li i {
	margin-right: 5px;
}

/* Product Info */

.single-product-info {
	margin-bottom: 35px;
}
.single-product-info-title {
	background-color: #D91A23;
	color: #fff !important;
	text-transform: uppercase;
	padding: 10px;
	margin: 0 !important;
}
.single-product-con {
	border: 1px solid #e8e8e8;
	padding: 15px 10px;
}

/* Gellery */

.slider {
    position: relative;
    padding-top: 500px;
    text-align: center;
}
.slider .large {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow-y: hidden;
}
.slider .large img {
    width: auto;
    height: 480px;
    max-width: 100%;
}
.slider input[name='slide_switch'] {
    display: none;
}
.slider label {
    margin: 0 0 0 6px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s;
    opacity: 0.6;
    position: relative;
}
.slider label img {
    display: block;
    border: 1px solid #e8e8e8;
    height: 80px;
    width: auto;
}
.slider input[name='slide_switch']:checked+label {
    opacity: 1;
}
.slider input[name='slide_switch']~.large {
    opacity: 0;
    transform: scale(1);
}
.slider input[name='slide_switch']:checked+label+.large {
    opacity: 1;
    transform: scale(1);
}

/* Product description */

.product-desc img {
	margin-bottom: 15px;
}

/* Main Tab area */

.main-tab {
    width: 100%;
    background: #fff;
    margin: 0 0 35px;
}
.main-tab section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ababad;
}
.main-tab input {
    display: none;
}
.main-tab label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    border: 1px solid transparent;
    background-color: #D91A23;
    text-transform: uppercase;
}
.main-tab label i {
    margin-right: 5px;
}
.main-tab label:hover {
    color: #fff;
    background-color: #D91A23;
    cursor: pointer;
}
.main-tab input:checked + label {
    color: #373741;
    border: 1px solid #f5f5f5;
    border-top: 2px solid #D91A23;
    border-bottom: 1px solid #fff;
    background-color: #fff;
}
.main-tab #tab1:checked ~ #content1,
.main-tab #tab2:checked ~ #content2,
.main-tab #tab3:checked ~ #content3,
.main-tab #tab4:checked ~ #content4,
.main-tab #tab5:checked ~ #content5,
.main-tab #tab6:checked ~ #content6 {
    display: block;
    border: 1px solid #f5f5f5;
    padding: 15px 20px 5px;
}

/* More Item */

.single-more-item {
	padding: 10px;
	border-right: 1px solid #e8e8e8;
}
.single-more-item.last {
	border-right: 0;
}
.single-more-item img {
	margin-bottom: 15px;
}
.single-more-item h4 {
	margin-bottom: 10px;
}
.single-more-item a {
	display: inline-block;
	color: #D91A23;
	text-transform: uppercase;
}

/* Footer */

.tem-ftr {
	background-color: #1a1a1a;
}
.ftr-top {
	padding-bottom: 35px;
}
.ftr-widget {
	margin-top: 35px;
	color: #fff;
}
.ftr-widget-title {
	text-transform: uppercase;
	color: #fff !important;
	margin-bottom: 15px;
}
.ftr-benefits p {
	margin-bottom: 10px;
}
.ftr-benefits p i {
	margin-right: 5px;
}
.ftr-widget ul {
	margin: 0;
	padding: 0;
}
.ftr-widget ul li {
	list-style-type: none;
	line-height: 2;
	border-bottom: 1px dotted #fff;
	padding: 5px 0;
}
.ftr-widget ul li:last-child {
	padding-bottom: 0;
	border-bottom: 0;
}
.ftr-widget ul li a {
	color: #fff;
}
.ftr-btm {
	background-color: #141414;
	padding: 15px 0;
	color: #fff;
}

/* Extra small Device. */
@media (max-width: 767px) {
	.hdr-logo {
		text-align: center;
	}
	.single-promo {
		margin-bottom: 15px !important;
		text-align: left;
	}
	.hdr-nav ul li {
		margin-right: 5px !important;
		margin-left: 5px !important;
	}
	.hdr-nav ul li a {
		padding: 3px 0;
	}
	.slider .large {
		display: none;
	}
	.slider label {
		display: block;
		margin-bottom: 10px;
	}
	.slider label img {
		width: 100%;
		height: auto;
	}
	.slider {
		padding-top: 0;
	}
	.main-tab label {
		padding: 5px 10px;
	}
	.single-more-item {
		margin: 15px 0;
		border-right: 0;
		border-bottom: 1px solid #e8e8e8;
	}
	.single-more-item.last {
		border-bottom: 0;
	}
	.bnr-area {
		height: 120px;
	}
	.bnr-area h1 {
		font-size: 24px;
	}

}